.lead {
  margin-bottom: 92px;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
}

@media (max-width:790px) {
  .lead {
    margin-bottom: 88px;
  }
}

@media (max-width:400px) {
  .lead {
    margin-bottom: 64px;
  }
}

