.footer__copyright {
  color: #FFF;
  margin: 0;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

@media (max-width: 660px) {
  .footer__copyright {
    line-height: 14px;
    font-size: 14px;
  }
}
