.place__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFF;
  margin: 0;
}
.place__link:hover {
  opacity: 0.8;
}
