.footer {
  padding: 92px 48px 24px;
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 810px) {
  .footer {
    padding-top: 88px;
  }
}

@media (max-width: 400px) {
  .footer {
    padding: 64px 16px 24px;
    flex: wrap column;
    gap: 48px;
  }
}
