.footer {
  padding: 92px 48px 24px;
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 810px) {
  .footer {
    padding: 88px 24px 24px;
  }
}
@media (max-width: 660px) {
  .footer {
    padding: 64px 16px 24px;
    flex-flow: wrap column;
    gap: 48px;
  }
}
