.intro__title {
  max-width: 690px;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #ffffff;
  padding-bottom: 40px;
  margin: 0;
}

@media (max-width: 400px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0 16px 0;
  }
}
